/* This is the default Ghostscript website stylesheet, */
/* based on the Ghostscript stylesheet */

body
{
  color: black;
  background-color: white;
}

h1,h2,h3,h4,h5,h6
{
  font-family: sans-serif;
  color: #000080;
  background-color: white;
}

tt
{
  color: rgb(40%,24%,24%);
  background-color: white;
}

a > tt, a > b > tt
{
  color: blue;
  background-color: white;
}

a
{
  color: blue;
  background-color: white;
  visited { color: rgb(60%,0%,30%); }
}

a.offsite
{
  font-style: oblique;
}

a:visited
{
  color: rgb(60%,0%,30%);
  background-color: white;
}

a:hover, a:active, a:focus
{
  background-color: #FFFFAA;
}

