/* Wiki style sheet */

/*
 * Basic look and font sizes
 */

h1 a, h2 a, table.foot td a { text-decoration: none; }
h1 a:visited, h2 a:visited, table.foot td a:visited { color: #1c4eb9; }

a:link { color: #1c4eb9; }
a:visited { color: #42b; }
a:active { color: #800; }
a.void { color: #800; text-decoration: none; }
a img { border: none; }
img { margin-left: 18pt; }

body
{
    font-family: "trebuchet ms", "helvetica neue", "helvetica", verdana;
    font-size: 12pt;
}

h1, h1 a { font-size: 18pt; }
h2, h2 a { font-size: 12pt; }

div, p, a, i, b { font-size: 10pt; }
tt { font-size: 9pt; }
small, small * { font-size: 8pt; }

table.bugatt th, table.bugatt td { padding-left: 12px; padding-right: 12px;
    border-style: solid; border-width: 1px; }
table.bugatt {border-collapse: collapse; }

ul, ol
{
    padding-left: 24pt;
    margin-left: 0pt;
}

dl
{
    padding-left: 0pt;
    margin-left: 0pt;
}

dd
{
    padding-left: 18pt;
    margin-left: 0pt;
}

dt, dd, li, td, th
{
    font-size: 10pt;
}

pre
{
    font-size: 9pt;
}

textarea { font-size: 9pt; font-family: courier; }

/*
 * Layout specifics
 */

body
{
    margin: 0;
    padding: 0;
    background-color: #ddd;
}

div, h1 { margin: 0px; padding: 1px; }

form
{
    display: inline;
}

h1
{
    background-color: #ddd;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-top: 6pt;
    padding-bottom: 6pt;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

h2
{
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #888;
    padding-top: 12pt;
}

div.text
{
    background-color: #fff;
    padding-left: 24pt;
    padding-right: 24pt;
    padding-bottom: 6pt;
}

div.foot
{
    background-color: #ddd;
    border-top-style: solid;
    border-top-width: 1px;
    padding-left: 12pt;
    padding-right: 12pt;
    padding-bottom: 3pt;
}

pre.code
{
    background-color: #eee;
    border-color: #aaa;
    border-width: 1px;
    border-style: solid;
    padding-left: 12px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 12px;
    margin-right: 12px;
}

table.foot
{
    margin: 0; padding: 0; border: 0;
    width: 100%;
}
td.footleft { text-align: left; }
td.footright { text-align: right; }

table.history, table.recent
{
    width: 100%; border-collapse: collapse;
}
table.history td, table.history th
{
    text-align: left; padding-left: 6pt;
    border-width: 1px; border-style: solid; border-color: #aaa;
}

hr { border: 0; background-color: #888; height: 1px; }

