/* Ghostscript style sheet */

/* find text outside <p> tags by making it green */
body  { color: green; }
div   { color: green; }
div * { color: black; }

/*
 * Colors.
 */

h1, h1 *	{ color: #1c4eb9; }
tt		{ color: #744; }
a, a *		{ color: #1c4eb9; }
a:link		{ color: #1c4eb9; }
a:visited	{ color: #42b; }
a:active	{ color: #800; }
a.nowhere	{ color: #800; }

h1 a, h2 a, a tt, a img { text-decoration: none; border: none; }

/*
 * Fonts.
 */

body, form, table, td, th
{
    font-family: "trebuchet ms", "helvetica neue", "helvetica", "verdana", sans-serif;
    font-size: 10pt;
}

pre, tt { font-size: 9pt; }

h1, h2, h3, h4, h5, h6 { font-style: normal; font-weight: bold; font-size: 10pt; }
h1, h1 * { font-size: 18pt; }
h2, h2 * { font-size: 12pt; }

/*
 * Margins, paddings and indentation
 */

/*
 * Auto-numbering sections
 */

/*

h2:before { content: counter(h2) ". "; }
h3:before { content: counter(h2) "." counter(h3) ". "; }
h4:before { content: counter(h2) "." counter(h3) "."  counter(h4) ". "; }
h5:before { content: counter(h2) "." counter(h3) "."  counter(h4) "." counter(h5) ". "; }
h6:before { content: counter(h2) "." counter(h3) "."  counter(h4) "." counter(h5) "." counter(h6) ". "; }

h1 { counter-increment: h1; counter-reset: h2; }
h2 { counter-increment: h2; counter-reset: h3; }
h3 { counter-increment: h3; counter-reset: h4; }
h4 { counter-increment: h4; counter-reset: h5; }
h5 { counter-increment: h5; counter-reset: h6; }
h6 { counter-increment: h6; }

*/

/*
 * The gray theme.
 */

h1
{
    text-align: center;
    margin: 0;
    padding: 5px 5px 5px 5px;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #ddd ;
}

div.head
{
    background-color: #ddd ;
    border-bottom: 1px solid black ;
    padding: 4px 10px 6px 10px ;
}

div.page
{
    background-color: #fff ;
    padding: 10px 30px 1px 30px ;
}

div.foot
{
    background-color: #ddd ;
    border-top: 1px solid black ;
    padding: 5px 10px 1px 10px ;
}

table.fancy
{
    background-color: #eee ;
    padding: 0px ; 
}

tr.fancy, th.fancy, td.fancy
{
    background-color: #ccc ;
}

table.history, table.recent
{
    width: 100%; border-collapse: collapse;
}
table.history td, table.history th
{
    text-align: left; padding-left: 6pt;
    border-width: 1px; border-style: solid; border-color: #aaa;
}

table.foot
{
    margin: 0; padding: 0; border: 0;
    width: 100%;
}
td.footleft { text-align: left; }
td.footright { text-align: right; }

hr
{
    border-style: none;
    background-color: #666;
    height: 1px;
    padding: 0;
}

/* * { border: 1px solid orange } */

